body {
  width: 100%;
  font-family: sans-serif, Tahoma, Geneva, Verdana, sans-serif;
  font-size: calc(10px + 2vmin);
  text-align: center;
  background-color: #75BE4B;
  color: black;
}

.App {
  max-width: 68rem;
  margin: 0 auto;
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
}

button, .btn {
  border: none;
  width: var(--max-width);
  overflow: visible;
  background: white;
  color: black;
  font: inherit;
  font-family: inherit;
  font-size: 100%;
  line-height: normal;
  appearance: auto;
  line-height: 1.15;
  border: 0.2rem solid #4d4d4d;
  padding: 0.8rem 1rem 0.7rem;
  text-transform: capitalize;
}

.two-btn {
  display: flex;
  justify-content: center;
  max-width: 100%;
  padding: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 25px;
  margin-right: 25px;
}

#rules {
  text-align: left;
}  

#popover-basic {
  background-color: white;
  border-color: black;
  overflow: visible;
}

td, th {
  padding: 1rem;
  border: 2px solid;
}

table {
  justify-content: center;
  max-height: 100px;
  overflow: auto;
  border-collapse: collapse;
  z-index:1;
  border: black;
  background-color: white;
  width: 100%;
  margin-bottom: 5rem;
}

p {
  text-align: left;
}

h1 {
  text-align: center;
  font-weight: bold;
}

h2 {
  text-align: center;
  text-decoration: underline;
}

.icon {
  cursor: pointer;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, 50%));
  text-align: left;
}

ul {
  list-style-type: disc;
}

select{
  margin:0 auto 25px;
  padding: 4px;
  max-width: 40%;
  position:relative;
  text-align: center;
  font-size: calc(10px + 2vmin);
  }

  .navbar {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 0rem;
    background-color: white;
    color: black;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
    margin-bottom: 2rem;
    
  }

  .navbar a {
    color: black;
    width: 25%;
  }

  .navbar a:hover {
    color: #75BE4B;
  }

  .instructions {
    background-color: white;
    color: black;
    padding: 2rem;
    margin-bottom: 4rem;
    margin-top: -2rem;
  }
